html, body {
    margin:auto;
    padding:10px;
    background-color:#ebebeb;
}

header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid black .1rem;
}

.logo {
    height: 100%;
    width: auto;
    margin-left: 20px;
}
.navigation li{
   display: inline-block; 
   margin-right: 40px;
   font-family:
}
