html, body {
    margin:auto;
    /* padding: 0 .3rem; */
    background-color:#ebebeb;
}

header {
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid lightblue .2rem;
}

.logo {
    height: 100%;
    width: auto;
    margin-left: 20px;
}
.navigation li{
   display: inline-block; 
   margin-right: 40px;
}

.banner {
    background-image: url('./swoop_2.jpg');
    background-size: cover;
    background-position: center;
    height: 45rem;
}

.banner-content {
    width: 25%;
    background-color: rgba(173,216,230, .75);
    float: right;
    margin-top: 25rem;
}

.banner-text {
    margin-left: 2rem;
    text-shadow: 2px 2px lightgray;
}

.product-section {

}

.product-title {
    text-align: center;
    padding: 2rem 0;
    background-color: lightblue;
}

.product-list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 3rem 0;
}

.product {
    background-color: blue;
    width: 20rem;
    height: auto;
    text-align: center;
    margin: 2rem;
    padding: 5rem;
    background-size: cover;
    background-position: center;
    filter: brightness(75%);
}

.swooping {
    background-image: url('Canopy-Piloting-in-Ruppiner-Land.jpg');
}

.wingsuit {
    background-image: url('wingsuit.jpg');
}

.base {
    background-image: url('base.jpg');
}

.accuracy {
    background-image: url('parachuting-accuracy-05_0.jpg');
}

.student {
    background-image: url('student-parachute.jpg');
}

.product-list p {
    font-size: 3rem;
    background-color: rgba(173,216,230, .5);
}