html, body {
    margin:auto;
    padding:10px;
    background-color:#ebebeb;
}

header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid lightblue .2rem;
}

.logo {
    height: 100%;
    width: auto;
    margin-left: 20px;
}
.navigation li{
   display: inline-block; 
   margin-right: 40px;
}

.banner {
    background-image: url('./swoop_2.jpg');
    background-size: cover;
    background-position: center;
    height: 45rem;
}

.banner-content {
    width: 25%;
    background-color: lightblue;
    float: right;
    margin-top: 25rem;
}

.banner-text {
    margin-left: 2rem;
    text-shadow: 1px 1px lightgray;